*{
    box-sizing: border-box;
}
body{
   background-image: url(pic/theme.jpg);
}
.container_1{
    width: 90%;
    margin: 0 auto;
}

/* nav */
header{
    background-color: white;
    /* opacity: 0.4; */
    height: 80px;
    position: fixed;
    top:0px;
    width: 100%;
    border-bottom: 1px solid rgb(36, 36, 36);
    z-index: 999;
}
nav{
/* try */
    height:80px;
    width: 100%;
    background-color: rgb(145, 3, 3);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;

}

nav img{
    height: 60px;
    margin-right: 100px;

}
nav ul{
    display:flex;
    justify-content: center; 
    margin: 0;

}
nav ul li{
    list-style: none;
    margin-right: 80px;
}
a{
    color: white !important;
    text-decoration: none !important;
}
nav a{
    text-decoration: none;
    color:white

}
li:hover{
    border-bottom:2px solid red ;
    text-decoration: none;
}
.fas.fa-bars.bur{
    color:white;
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.mobile_menu{
    display: none;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    position: fixed;
    margin-top: 80px;
   
}
.mobile_menu div{  
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: rgb(145, 3, 3);
    padding-top: 15px;
   

}
.mobile_menu a{
    color:white;
    
}
/* -----------------------------roomstyle */
.roomstype{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   text-align: center;
  
}
.roomstype div{
    border-radius: 10px;
    color:red;
}
#all_rooms:hover {
    background-color: red;
    color: white;
}
#dbl_rooms:hover {
    background-color: red;
    color: white;
}
#tri_rooms:hover {
    background-color: red;
    color: white;
}
#family_rooms:hover {
    background-color: red;
    color: white;
}

.rm{
    width: 150px;
    padding:10px 20px;
    border: 1px solid red;
    margin-right: 10px;
    cursor: grab;
}

/* ----section---- */
section{
    margin-top: 101px;
    text-align: center;
}
em{
    color: red;
    font-size: 60px;
}
/* rooms */
.flex_slider{
   width: 50%;
   float: left;
   /* margin-right: 100px; */
   
}
.center{
    width: 90%;
    margin: 10px auto;
}
.rooms:nth-child(2n-1) .flex_slider{
    /* margin-right: 20px; */
}
.rooms{
    width: 100%;
    height:450px;
    border: 2px solid #D5776C;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: space-between; */
    box-shadow: 10px 5px 5px rgb(172, 172, 172);
    margin-top: 50px;
    padding: 30px;
    
    
}
.rooms:nth-child(2n-1) .flex_slider{
    float: right;
   
}
.rooms:nth-child(2n-1) .rooms_intro{
    float: right;
    padding-left: 0;
    padding-right: 100px;
}
/* .rooms_intro:nth-child(2n-1){
    margin-left:80px;
    margin-right:0 ;
}

.rooms:nth-child(2n-1).flex_slider{
    margin-right: 10px;
}
.rooms:nth-child(2n-1){
    margin-top: 50px;
} */

.rooms_img{
    height: 70%;
    width: auto;
    margin-left: 0px;
    overflow: hidden;
    display: block;
    margin:auto;
   
    
}
.rooms_img img{
    height: 300px;
    width: auto;
    margin: 10px;
    display: block;
    margin:auto;
    
    
}
/* .rooms:hover .rooms_img{
    transform: scale(1.1,1.1);
} */
.rooms ol{
    width: 80%;
    display: flex;
    justify-content: center;
    padding:0;
    margin: 25px;
   
}
.rooms li{
    list-style: none;
    margin:10px 10px ;
}
.rooms li img{
    width: auto;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}
.rooms_intro{
    padding-left: 80px;
    float: left;
}
.rooms_intro h3{
    padding-bottom: 5px;
    border-bottom: 1px solid red;
    display: inline;
    
}

.rooms_intro p{
    margin-top: 10px;
}
.booking_info{
   
    align-items: center; 

}
.booking_info img{
    margin-right: 10px;
}
.booking_info p{
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    color:rgb(145, 3, 3);
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 1px solid red;
    display: inline;

    
}
.ps{
    display: flex;
    margin-top: 20px;
    
}
.ps h5{
    writing-mode: vertical-lr;
    border-right: 1px solid red;
    text-align: center;
    padding-right: 10px;
    margin: 0 20px 0 0;
}
.ps h6{
    margin-right: 20px;
}
.ps img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.bath,.food,.room{
    display: flex;
    align-items: center;
   
}
.clear{
    clear:both;
}


/* footer */
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 3, 3);
    height: 80px;
    color: white;
}
.logo{
    height: 60px;
}
.r_footer{
    display: flex;
    align-items: center;
    
}
.r_footer_i{
    display: flex;
    text-align:center;
}
footer p{
    text-align: center;
    margin:0;
}
.r_footer_i a{
    font-size: 25px;
    margin-right: 10px;
}

/* RWD*/
@media screen and (max-width: 1200px){
     .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 50px; 
    }

    
}
@media screen and (max-width:1153px){
    .rooms_intro{
        padding-left: 50px;
    }
    
}
@media screen and (max-width: 1079px){
    .rooms_intro{
        padding-left: 30px;
    }
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 20px; 
    }
   
}
@media screen and (max-width:1045px){
    .rooms_intro{
        padding-left: 30px;
    }
    
}
@media screen and (max-width:1028px){
    .rooms_intro{
        padding-left: 20px;
    }
    
}

@media screen and (max-width: 1005px){
    .rooms{
        padding: 10px;
    }
    .rooms_intro{
        padding-left: 35px;
    }
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 20px; 
    }
   
}


@media screen and (max-width:997px){
    .rooms_intro{
        padding-left: 30px;
    }
    
}


@media screen and (max-width:992px) {
    .rooms{
        width: 100%;
        height: auto;
        border: 1px solid red;
    }
    .flex_slider{
        width: 40%;
        height: 400px;
      
    }
    .center{
        padding-top: 30px;
    }
    .rooms_intro{
        text-align: center;
        margin:0;  
        padding-left: 70px;
    }
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 100px; 
    }
    .ps{
        justify-content: center;
        margin:0;
        margin-bottom: 10px;
    }
    .booking_info{
       
        justify-content: center;
    }
    
   

}
@media screen and (max-width:969px) {
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 80px; 
    }
}
@media screen and (max-width:928px) {
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 60px; 
    }
   
    
}
@media screen and (max-width:911px) {
    
    .rooms_intro{
        padding-left: 40px;
    }
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 45px; 
    }
   
    
}
@media screen and (max-width:877px) {
        nav{
            margin-right: 50px;
        }
        nav ul li{
            margin-right: 50px;
        }
}
@media screen and (max-width:855px) {
    .rooms:nth-child(2n-1) .rooms_intro{
        padding-right: 20px; 
    }
    .rooms:nth-child(2n-1) .ps{
        padding-right: 30px; 
        padding-left: 0;
    }
}
@media screen and (max-width:845px) {
    .rooms:nth-child(2n-1) .ps{
        padding-right: 20px; 
        padding-left: 0;
    }
.rooms ol{
        width: 90%;
    }
    .center{
        margin: 0 auto;
    }
    .rooms_intro{
        width: 100%;
        padding: 0;
    }
    .flex_slider{
        width: 100%;
    }
    .rooms:nth-child(2n-1) .rooms_intro{
        padding: 0px;
    }
    .rooms:nth-child(2n-1) .center{
        margin: 0 auto;
    }
    @media screen and (max-width:700px){
        nav {
        justify-content: space-between;
        }
        nav img{
            margin-right: 20px;
            margin-left: 50px;
        }     
        nav ul li{
           margin-right: 30px;
       }
       nav ul{
           display: none;
       }
       .fas.fa-bars.bur{
           display: inline-block;
           padding-right: 70px;
       }
       footer{
           flex-wrap: wrap;
           height: 200px;
           text-align: center;
       }
       .logo{
           height: 80px;
       }
       footer p{
           width: 100%;
       }
       .r_footer{
           display: flex;
       }
   }

   
@media screen and (max-width:500px) {
    .aa{
        display: block;
    }
    
    .rm{
       padding: 10px 10px;
       border: 1px solid red;
       text-align: center;
    }

}