body{
    background: url("https://lh3.googleusercontent.com/proxy/7orLl7lPfJqzhyV3StMShu9FJz0zK_qC5qQWaCPk1YVfGJnLqV3c10l9HF4zfpZoyAX8f0KaHWyB5ttZf6zafvQ-yU6XDO-RkfKpdaNSFnErfKTNqHfZ");
}
.rooms{
    width: 100%;
    min-sheight:300px;
    border: 2px solid #D5776C;
    
}

.rooms_img{
    height: 300px;
    width: 50%;
    
}

footer{
    background: no-repeat  url("https://q-xx.bstatic.com/xdata/images/hotel/840x460/251014079.jpg?k=6e46d8c29eb7447757af1e965321f5d04d903c57c77e3ef9839079fca99e382b&o=") ;
    background-size: 100%;
    background-position: 50% 50%;
    
    width: 100%;
    min-height: 300px;
 
}