body{
    background-image: url(pic/theme.jpg);
    margin: 0;
 }
/* ------------nav-------------- */
/* nav */
header{
    background-color: white;
    /* opacity: 0.4; */
    height: 80px;
    position: fixed;
    top:0px;
    width: 100%;
    border-bottom: 1px solid rgb(36, 36, 36);
    z-index: 999;
}
nav{
    height:80px;
    width: 100%;
    background-color: rgb(145, 3, 3);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;

}
nav img{
    height: 60px;
    margin-right: 100px;

}
nav ul{
    display:flex;
    justify-content: center; 
    margin: 0;

}
nav ul li{
    list-style: none;
    margin-right: 80px;
}
a{
    color: white !important;
    text-decoration: none !important;
}
nav a{
    text-decoration: none;
    color:white

}
li:hover{
    border-bottom:2px solid red ;
    text-decoration: none;
}
.fas.fa-bars.bur{
    color:white;
    display: none;
    font-size: 24px;
   cursor: pointer;
}
.mobile_menu{
    display: none;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    position: fixed;
    margin-top: 80px;
   
}
.mobile_menu div{  
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    background-color: rgb(145, 3, 3);
    padding-top: 15px;
   

}
.mobile_menu a{
    color:white;
    
}

/* -----------section----------------- */
.container_1{
    width: 90%;
    margin: 0 auto;
}
section{
    margin-top: 101px;
    text-align: center;
}
em{
    color: red;
    font-size: 60px;
}
/* ----section2---- */
 .section2{
     width: 100%;
     position: relative;
     margin-top: 30px;
     
 }
.area {
    position: relative; 
    width: 450px;
    min-height: 300px;
    margin: 0px auto;
    cursor: pointer;
   
}

#area1,
#area2,
#area3,
#area4,
#area5 {
    position: absolute;
    
}

#area1 {
    left: -4px;
    top: 110px;
    transition: 0.3s;
}

#area2 {
    left: 96px;
    top: 159px;
}

#area3 {
    left: 131px;
    top:60px;
}

#area4 {
    left: 255px;
    top: 125px;
}

#area5 {
    left: 289px;
    top: 11px;
}

#area1:hover,
#area2:hover,
#area3:hover,
#area4:hover,
#area5:hover {
    transform: scale(1.1);
}
.travel_nav{
    position: relative;
    display: flex;
    justify-content: center;
    cursor: grab;
    padding:0px
}
.travel_nav li{
    padding: 10px 30px;
    border:1px solid red;
    list-style: none;
    margin-right:20px ;
    border-radius: 10px;
    color:red;
}
.km_intro{
    position: relative;
    width: 90%;
    height: 100px;
}
.intro{
    width: 200px;
    height: 150px;
    border-radius: 2%;
    border: 1px solid lightgrey;
    padding: 10px;
}
.intro h4{
    margin: 0;
    text-align: center;
}
.intro_kim{
    position: absolute;
    top:-320%;
    left: 20%;
    display: none;
    
}
.intro_kimsceng{
    position: absolute;
    left:32%;
    top: -60%;
    display: none;
}
.intro_kimning{
    position: absolute;
  left: 40%;
  top:-400%;
  display: none;
}
.intro_kimsha{
    position: absolute;
    left: 75%;
    top:-350%;
    display: none;
}
.intro_kimhu{
    position: absolute;
    left: 70%;
    top: -60%;
    display: none;
}


/* ---------------------hover------------------ */
#t_1:hover{
    color:white;
    background-color: red;
}
#t_2:hover{
    color:white;
    background-color: red;
}
 #t_3:hover{
    color:white;
    background-color: red;
}


.card{
width: 330px;
border:1px solid rosybrown;
border-radius: 5px;
  margin: 20px 5px;
 height: 500px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding-bottom: 10px;
  overflow: hidden;
  
}
.card2{
      width: 350px;
      border: 1px solid red;
      margin: 0px;
      height: 350px;
      margin: 20px 5px;
      border-radius: 5px;
      overflow: hidden;
      
      
    }
.card p ,.card2 p{
    margin-top: 30px;
    height: 150px;
    overflow: auto;
    line-height: 2rem;
    padding: 0 15px;
    
}
.card_footer{
    text-align: center;
    color:slategray;   
}
h4{
    margin: 10px 15px;
    color: saddlebrown;
    font-size: 28px;
}
.st_word{
    font-size: 26px;
}
h6{
    margin: 5px 15px;
    color: slategray;
    font-size: 16px;
}

.card img{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: 0.8s;
    

}
.card img:hover{
    transform: scale(1.1);
    
}
.card2 img{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.card2 img:hover{
    transform: scale(1.1);
}

.img_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clear{
    clear: both;
}
/* footer */
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 3, 3);
    height: 80px;
    color: white;
}
.logo{
    height: 60px;
}
.r_footer{
    display: flex;
    align-items: center;
    
}
.r_footer_i{
    display: flex;
    text-align:center;
}
footer p{
    text-align: center;
    margin:0;
}
.r_footer_i a{
    font-size: 25px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
/* -------------rwd---------------- */
@media screen and (max-width:1000px) {
    .intro_kim{
        position: absolute;
        top:-320%;
        left: 5%;
        display: none;
    }
        .intro_kimsceng{
            position: absolute;
            left:20%;
            top: -60%;
            display: none;
        }
        .intro_kimsha{
            position: absolute;
            left: 80%;
            top:-350%;
            display: none;
        }
}
@media screen and (max-width:730px) {
    .intro_kimsha{
        position: absolute;
        left: 75%;
        top:-400%;
        display: none;
    }
    .intro.intro_kimsha{
        height: 120px;
        width: 200px;
        
    }
    
}
@media screen and (max-width:877px) {
    
        nav{
            margin-right: 50px;
        }
        nav ul li{
            margin-right: 50px;
        }
}

@media screen and (max-width:700px){
    nav {
    justify-content: space-between;
    }
    nav img{
        margin-right: 20px;
        margin-left: 50px;
    }     
    nav ul li{
       margin-right: 30px;
   }
   nav ul{
       display: none;
   }
   .fas.fa-bars.bur{
       display: inline-block;
       padding-right: 70px;
   }
   footer{
       flex-wrap: wrap;
       height: 200px;
       text-align: center;
   }
   .logo{
       height: 80px;
   }
   footer p{
       width: 100%;
   }
   .r_footer{
       display: flex;
   }
}
