body{
    background-image: url(pic/theme.jpg);
 }
 section{
     width: 100%;
     position: relative;
     
 }
.area {
    position: relative; 
    width: 450px;
    min-height: 300px;
    margin: 0px auto;
   
}

#area1,
#area2,
#area3,
#area4,
#area5 {
    position: absolute;
    
}

#area1 {
    left: -4px;
    top: 110px;
    transition: 0.3s;
}

#area2 {
    left: 96px;
    top: 159px;
}

#area3 {
    left: 131px;
    top:60px;
}

#area4 {
    left: 255px;
    top: 125px;
}

#area5 {
    left: 289px;
    top: 11px;
}

#area1:hover,
#area2:hover,
#area3:hover,
#area4:hover,
#area5:hover {
    transform: scale(1.1);
}
.travel_nav{
    position: relative;
    display: flex;
    justify-content: center;
   
    padding:0px
}
.travel_nav li{
    padding: 10px 30px;
    border:1px solid red;
    list-style: none;
    margin-right:20px ;
    border-radius: 10px;
    color:red;
}

/* ---------------------hover------------------ */
#t_1:hover{
    color:white;
    background-color: red;
}
#t_2:hover{
    color:white;
    background-color: red;
}
 #t_3:hover{
    color:white;
    background-color: red;
}


.card{
width: 350px;
border:1px solid rosybrown;
border-radius: 5px;
  margin: 20px 5px;
 height: 500px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding-bottom: 10px;
  overflow: hidden;
  
}
.card2{
      width: 350px;
      border: 1px solid red;
      margin: 0px;
      height: 350px;
      margin: 20px 5px;
      border-radius: 5px;
      overflow: hidden;
      
      
    }
p{
    margin-top: 30px;
    height: 150px;
    overflow: auto;
    line-height: 2rem;
    padding: 0 15px;
    
}
.card_footer{
    text-align: center;
    color:slategray;



   
}
h4{
    margin: 10px 15px;
    color: saddlebrown;
    font-size: 28px;
}
.st_word{
    font-size: 26px;
}
h6{
    margin: 5px 15px;
    color: slategray;
    font-size: 16px;
}

.card img{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: 0.8s;
    

}
.card img:hover{
    transform: scale(1.1);
    
}
.card2 img{
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.card2 img:hover{
    transform: scale(1.1);
}

.img_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clear{
    clear: both;
}
/* footer */
footer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 233, 233);
    height: 100px;
}
.r_footer{
    display: flex;
    align-items: center;
    
}
.follow_us h4{
    text-align: center;
    margin-top:20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    
}
.r_footer_i{
    display: flex;
    text-align:center;
    
}
footer img{
    margin-right:5px ;
}
footer p{
    text-align: center;
    margin:0;
}

i{
    font-size: 25px;
    margin-right: 10px;
    color: lightsalmon;
}